@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    .login .input:focus + .placeholder {
      top: -13px;
      transition: 0.3s;
      background: linear-gradient(to top, white 30%, transparent);
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        max-width: 1450px;
        margin: 0 auto; 
    }
    
    .section-title h2::before,
    .section-title h2::after {
        content: "";
        width: 50px;
        height: 2px;
        background: #3498db;
        display: inline-block;
    }
    
    .section-title h2::before {
        margin: 0 14px 10px 0;
    }
      
      .section-title h2::after {
        margin: 0 0 10px 14px;
      }
      .inbox {
        background-color:#ffffffef;
        transition: all 0.4s ease-in-out; 
      }
      .box:hover .inbox , .box:hover .inbox p ,.box:hover .inbox button , .box:hover svg {
        color:white;
        fill:white;
      }
      .box:hover .inbox {
        background-color: #3498db;
      }
      .services:hover svg {
        fill:#3498db;
        background-color:white;
      }
  }